<?xml version="1.0"?>
<config>
    <modules>
        <Yougento_Youcheckbox>
            <version>1.0.0</version>
        </Yougento_Youcheckbox>
    </modules>
    <global>
        <events>
            <catalog_entity_attribute_save_before>
                <observers>
                    <fileattributes>
                        <type>model</type>
                        <class>youmaps/observer</class>
                        <method>onAttributeSaveBefore</method>
                    </fileattributes>
                </observers>
            </catalog_entity_attribute_save_before>
        </events>
        <blocks>
            <youmaps>
                <class>Yougento_Youmaps_Block</class>
            </youmaps>
        </blocks>
        <helpers>
            <youmaps>
                <class>Yougento_Youmaps_Helper</class>
            </youmaps>
        </helpers>
        <models>
            <youmaps>
                <class>Yougento_Youmaps_Model</class>
            </youmaps>
        </models>
    </global>
    <frontend>
    	<layout>
            <updates>
                <youmaps>
                    <file>youmaps.xml</file>
                </youmaps>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <youmaps>
                                        <title>Youmaps - All</title>
                                    </youmaps>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
        <events>
            <adminhtml_product_attribute_types>
                <observers>
                    <youmap>
                        <type>model</type>
                        <class>Yougento_Youmaps_Model_Observer</class>
                        <method>addFileAttributeType22</method>
                    </youmap>
                </observers>
            </adminhtml_product_attribute_types>
        </events>
	</adminhtml> 
    <default>
        <general>
            <validator_data>
                <input_types>
                    <youmap>youmap</youmap>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>
